.header {
  display: flex;
  align-items: center;
  padding: 25px 50px;
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
}

.headerTitle {
  font-family: var(--title-font);
  font-size: 2rem;
}
